.choices {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.choices__options {
    flex-basis: 24%;
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(221, 224, 228);
}


#savePackage {
    width: 160px;
    height: 50px;
    background-color: goldenrod;
    margin-top: 10px;
    margin-bottom: 30px; 
    display: block; 
}

.orders {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 1200px;
}

.head {
    align-items: center;
}
.complete {
    margin-left: 15px;
}